## Import relevant libraries

In [1]:
import pandas as pd

## Read and wrangle Station Inventory data

In [2]:
#skip first 3 rows contining metadata
data=pd.read_csv('Station Inventory EN.csv',  skiprows=3)

In [3]:
len(data)

8794

In [4]:
for col in data.columns:
    print(col)

Name
Province
Climate ID
Station ID
WMO ID
TC ID
Latitude (Decimal Degrees)
Longitude (Decimal Degrees)
Latitude
Longitude
Elevation (m)
First Year
Last Year
HLY First Year
HLY Last Year
DLY First Year
DLY Last Year
MLY First Year
MLY Last Year

In [5]:
data.head()

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000.0,-1.231700e+09,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000.0,-1.232900e+09,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000.0,-1.233100e+09,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000.0,-1.240000e+09,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000.0,-1.232100e+09,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0

## Get Station ID for Toronto for weather data query

In [6]:
data[data['Name']=='TORONTO']

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
6563,TORONTO,ONTARIO,6158350,5051,71266.0,NaN,43.67,-79.4,434000000.0,-792400000.0,112.5,1840,2017,1953.0,1969.0,1840.0,2017.0,1840.0,2006.0

In [7]:
data._get_value(6563, 'Station ID')
#5051 will be used to query for weather data

5051

## Read and wrangle Weather data

In [8]:
# after ownloading weather data
weather_data = pd.read_csv('en_climate_monthly_ON_6158350_1840-2006_P1M.csv')

In [9]:
weather_data.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.4,43.67,TORONTO,6158350,1840-01,1840,1,NaN,M,NaN,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
1,-79.4,43.67,TORONTO,6158350,1840-02,1840,2,NaN,M,NaN,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
2,-79.4,43.67,TORONTO,6158350,1840-03,1840,3,5.2,NaN,-2.9,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
3,-79.4,43.67,TORONTO,6158350,1840-04,1840,4,11.1,NaN,2.3,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
4,-79.4,43.67,TORONTO,6158350,1840-05,1840,5,17.2,NaN,7.6,...,0.0,NaN,105.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
for col in weather_data.columns:
    print(col)

Longitude (x)
Latitude (y)
Station Name
Climate ID
Date/Time
Year
Month
Mean Max Temp (°C)
Mean Max Temp Flag
Mean Min Temp (°C)
Mean Min Temp Flag
Mean Temp (°C)
Mean Temp Flag
Extr Max Temp (°C)
Extr Max Temp Flag
Extr Min Temp (°C)
Extr Min Temp Flag
Total Rain (mm)
Total Rain Flag
Total Snow (cm)
Total Snow Flag
Total Precip (mm)
Total Precip Flag
Snow Grnd Last Day (cm)
Snow Grnd Last Day Flag
Dir of Max Gust (10's deg)
Dir of Max Gust Flag
Spd of Max Gust (km/h)
Spd of Max Gust Flag

In [11]:
# remove uncessary columns
weather_df= weather_data.drop(weather_data[['Mean Max Temp Flag',
                                            'Mean Min Temp Flag',
                                            'Mean Temp Flag',
                                            'Extr Min Temp Flag',
                                            'Extr Max Temp Flag',
                                            'Total Rain (mm)',
                                            'Total Rain Flag',
                                            'Total Snow (cm)',
                                            'Total Snow Flag',
                                            'Total Precip (mm)',
                                            'Total Precip Flag',
                                            'Snow Grnd Last Day (cm)',
                                            'Snow Grnd Last Day Flag',
                                            "Dir of Max Gust (10's deg)",
                                            'Dir of Max Gust Flag',
                                            'Spd of Max Gust (km/h)',
                                            'Spd of Max Gust Flag']], axis=1)

In [12]:
weather_df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Min Temp (°C),Mean Temp (°C),Extr Max Temp (°C),Extr Min Temp (°C)
0,-79.4,43.67,TORONTO,6158350,1840-01,1840,1,NaN,NaN,NaN,NaN,NaN
1,-79.4,43.67,TORONTO,6158350,1840-02,1840,2,NaN,NaN,NaN,NaN,NaN
2,-79.4,43.67,TORONTO,6158350,1840-03,1840,3,5.2,-2.9,1.2,NaN,NaN
3,-79.4,43.67,TORONTO,6158350,1840-04,1840,4,11.1,2.3,6.7,NaN,NaN
4,-79.4,43.67,TORONTO,6158350,1840-05,1840,5,17.2,7.6,12.4,24.4,-0.6

In [13]:
weather_df.isna().sum()

Longitude (x)          0
Latitude (y)           0
Station Name           0
Climate ID             0
Date/Time              0
Year                   0
Month                  0
Mean Max Temp (°C)    44
Mean Min Temp (°C)    44
Mean Temp (°C)        44
Extr Max Temp (°C)    47
Extr Min Temp (°C)    47
dtype: int64

In [14]:
weather_df.dtypes

Longitude (x)         float64
Latitude (y)          float64
Station Name           object
Climate ID              int64
Date/Time              object
Year                    int64
Month                   int64
Mean Max Temp (°C)    float64
Mean Min Temp (°C)    float64
Mean Temp (°C)        float64
Extr Max Temp (°C)    float64
Extr Min Temp (°C)    float64
dtype: object

In [15]:
weather_df.count()

Longitude (x)         2004
Latitude (y)          2004
Station Name          2004
Climate ID            2004
Date/Time             2004
Year                  2004
Month                 2004
Mean Max Temp (°C)    1960
Mean Min Temp (°C)    1960
Mean Temp (°C)        1960
Extr Max Temp (°C)    1957
Extr Min Temp (°C)    1957
dtype: int64

In [16]:
(weather_df.isna().sum()/weather_df.count()) * 100
# less than 2.5% NAN columns, we can filter those rows

Longitude (x)         0.000000
Latitude (y)          0.000000
Station Name          0.000000
Climate ID            0.000000
Date/Time             0.000000
Year                  0.000000
Month                 0.000000
Mean Max Temp (°C)    2.244898
Mean Min Temp (°C)    2.244898
Mean Temp (°C)        2.244898
Extr Max Temp (°C)    2.401635
Extr Min Temp (°C)    2.401635
dtype: float64

## Filter out NaN rows

In [17]:
for col in weather_df.columns:
    weather_df = weather_df[weather_df[col].notna()]

In [18]:
weather_df.isna().sum()

Longitude (x)         0
Latitude (y)          0
Station Name          0
Climate ID            0
Date/Time             0
Year                  0
Month                 0
Mean Max Temp (°C)    0
Mean Min Temp (°C)    0
Mean Temp (°C)        0
Extr Max Temp (°C)    0
Extr Min Temp (°C)    0
dtype: int64

In [19]:
weather_df['Year'].nunique()

164

## Filter for years 1996 - 1998, merage and save output

In [20]:
weather_1996=weather_df[weather_df['Year']==1996]
weather_1997=weather_df[weather_df['Year']==1997]
weather_1998=weather_df[weather_df['Year']==1998]

In [21]:
weather_1996.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Min Temp (°C),Mean Temp (°C),Extr Max Temp (°C),Extr Min Temp (°C)
1872,-79.4,43.67,TORONTO,6158350,1996-01,1996,1,-1.3,-8.1,-4.7,13.4,-18.8
1873,-79.4,43.67,TORONTO,6158350,1996-02,1996,2,-0.7,-6.9,-3.8,9.8,-18.1
1874,-79.4,43.67,TORONTO,6158350,1996-03,1996,3,2.4,-4.2,-0.9,13.9,-15.0
1875,-79.4,43.67,TORONTO,6158350,1996-04,1996,4,9.1,2.2,5.7,22.3,-3.8
1876,-79.4,43.67,TORONTO,6158350,1996-05,1996,5,16.8,8.7,12.8,28.7,2.0

In [22]:
weather_1996.reset_index(drop=True, inplace=True)
weather_1997.reset_index(drop=True, inplace=True)
weather_1998.reset_index(drop=True, inplace=True)

In [23]:
weather_1996.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Mean Max Temp (°C),Mean Min Temp (°C),Mean Temp (°C),Extr Max Temp (°C),Extr Min Temp (°C)
0,-79.4,43.67,TORONTO,6158350,1996-01,1996,1,-1.3,-8.1,-4.7,13.4,-18.8
1,-79.4,43.67,TORONTO,6158350,1996-02,1996,2,-0.7,-6.9,-3.8,9.8,-18.1
2,-79.4,43.67,TORONTO,6158350,1996-03,1996,3,2.4,-4.2,-0.9,13.9,-15.0
3,-79.4,43.67,TORONTO,6158350,1996-04,1996,4,9.1,2.2,5.7,22.3,-3.8
4,-79.4,43.67,TORONTO,6158350,1996-05,1996,5,16.8,8.7,12.8,28.7,2.0

In [24]:
weather_1996.to_csv('weather_1996.csv')
weather_1996.to_csv('weather_1997.csv')
weather_1996.to_csv('weather_1998.csv')

In [25]:
weather_all=pd.concat([weather_1996, weather_1997, weather_1998], ignore_index=True)

In [26]:
weather_all.to_csv('weather_all.csv')

## Questions

### Min and Max temperatures for year

In [27]:
weather_all.groupby('Year')['Mean Temp (°C)'].min()

Year
1996   -4.7
1997   -4.6
1998   -0.7
Name: Mean Temp (°C), dtype: float64

In [28]:
weather_all[weather_all['Year']==1998]['Mean Temp (°C)'].min()

-0.7

In [29]:
weather_all.groupby('Year')['Mean Temp (°C)'].max()

Year
1996    22.1
1997    21.6
1998    22.7
Name: Mean Temp (°C), dtype: float64

### % difference between the average daily temperature for the year versus the average of the previous 2 years

In [30]:
((weather_all[weather_all['Year']==1998]['Mean Temp (°C)'].mean())\
/(weather_all[weather_all['Year']==1997]['Mean Temp (°C)'].mean())) - 1

0.2690166975881261

In [31]:
((weather_all[weather_all['Year']==1998]['Mean Temp (°C)'].mean())\
/(weather_all[weather_all['Year']==1996]['Mean Temp (°C)'].mean())) - 1

0.3230174081237911